---
import kitchenOneBefore from "@assets/images/overview/kitchen1-before.webp";
import kitchenOneAfter from "@assets/images/overview/kitchen1-after.webp";
import showroomBefore from "@assets/images/overview/showroom-before.webp";
import showroomAfter from "@assets/images/overview/showroom-after.webp";
import nonameBefore from "@assets/images/overview/noname-before.webp";
import KitchenOverviewCard from "./KitchenOverviewCard.astro";

const kitchens = [
  {
    imgBeforePath: showroomBefore,
    imgBeforeAlt: "La cuisine showroom avant intallation",
    imgAfterPath: showroomAfter,
    imgAfterAlt: "La cuisine showroom après intallation",
    name: "La cuisine Showroom",
  },
  {
    imgBeforePath: nonameBefore,
    imgBeforeAlt: "La cuisine Lotus avant intallation",
    imgAfterPath: showroomAfter,
    imgAfterAlt: "La cuisine Lotus après intallation",
    name: "La cuisine Lotus",
  },
  {
    imgBeforePath: kitchenOneBefore,
    imgBeforeAlt: "La cuisine Lotus avant intallation",
    imgAfterPath: kitchenOneAfter,
    imgAfterAlt: "La cuisine Lotus après intallation",
    name: "La cuisine Lotus",
  },
  {
    imgBeforePath: kitchenOneBefore,
    imgBeforeAlt: "La cuisine Lotus avant intallation",
    imgAfterPath: kitchenOneAfter,
    imgAfterAlt: "La cuisine Lotus après intallation",
    name: "La cuisine Lotus",
  },
];
---

<section class="gallery-overview">
  <div class="gallery-overview__container">
    <h2>Une transformation</h2>
    <p>
      Plongez dans des exemples de cuisines avant et après mon intervention pour
      découvrir comment je métamorphose votre espace de vie. Êtes-vous prêt à
      être inspiré et faire de votre cuisine un sanctuaire de style et de
      fonctionnalités?
    </p>
    <div class="gallery-overview__kitchens">
      {
        kitchens.map((kitchen) => (
          <KitchenOverviewCard
            imgBeforePath={kitchen.imgBeforePath}
            imgBeforeAlt={kitchen.imgBeforeAlt}
            imgAfterPath={kitchen.imgAfterPath}
            imgAfterAlt={kitchen.imgAfterAlt}
            kitchenName={kitchen.name}
          />
        ))
      }
    </div>
    <div>
      <a class="btn" href="/entreprise-rody/gallery/"
        >Je veux voir d'autres cuisines !</a
      >
    </div>
  </div>
</section>

<style lang="scss">
  @use "../styles/mixins" as *;

  .gallery-overview {
    &__container {
      @include container(
        $padding: var(--padding-m) var(--padding-s) var(--padding-xl)
      );
      @include flex("column", "nowrap");
      gap: 3rem;
    }

    &__kitchens {
      @include flex;
      justify-content: center;
      row-gap: 2.5rem;

      @media screen and (min-width: 767px) {
        justify-content: space-between;
      }
    }

    a {
      @include button;
    }

    div:has(.btn) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>
