---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const { kitchenName, imgBeforePath, imgBeforeAlt, imgAfterPath, imgAfterAlt } =
  Astro.props;
---

<article class="img__kitchen-before-after">
  <div class="img__container">
    <Image class="img--before" src={imgBeforePath} alt={imgBeforeAlt} />
    <Image class="img--after" src={imgAfterPath} alt={imgAfterAlt} />
    <input
      type="range"
      name=""
      id=""
      min="0"
      max="100"
      value="50"
      class="img__slider"
      aria-label="Pourcentage de l'image 'avant' montrée"
    />
    <div class="img__line"></div>
    <div class="img__slider-btn" aria-hidden="true">
      <Icon name="ep--arrow-left-bold" />
      <Icon name="ep--arrow-right-bold" />
    </div>
  </div>
  <h3>{kitchenName}</h3>
</article>

<script>
  const containerElts = document.querySelectorAll(".img__container");

  containerElts.forEach((container) => {
    container.querySelector(".img__slider").addEventListener("input", (e) => {
      container.style.setProperty("--slider-position", `${e.target.value}%`);
    });
  });
</script>

<style lang="scss">
  @use "../styles/mixins" as *;

  .img {
    &__kitchen-before-after {
      border-radius: var(--radius-s);
      color: var(--white);
      background-color: var(--black);
      background-image: var(--linear-gradient-transparent-primary-15deg);
      box-shadow: var(--shadow-0-1-5-0) rgba(0, 0, 0, 0.3);
      transition: background-color 0.5s ease;

      @media screen and (min-width: 767px) {
        max-width: calc(100% / 2 - 1.5rem);
      }

      h3 {
        text-align: center;
        padding: var(--padding-xs);
      }
    }

    &__container {
      position: relative;
      display: grid;
      max-height: 412px;
      overflow: hidden;
      border-radius: var(--radius-s) var(--radius-s) 0 0;

      & > * {
        grid-area: 1 / 1;
      }
    }

    &__slider {
      opacity: 0;
      cursor: pointer;

      &:focus-visible ~ &-btn {
        outline: 3px solid var(--black);
        outline-offset: 2px;
      }

      &-btn {
        align-self: center;
        @include flex;
        @include center;
        height: 44px;
        width: 44px;
        border-radius: 100%;
        color: var(--white);
        box-shadow: var(--shadow-0-1-5-0) rgba(0, 0, 0, 0.65);

        [data-icon] {
          height: 18px;
          width: 18px;
        }
      }
    }

    &__slider,
    &__slider-btn,
    &__line {
      z-index: 1;
    }

    &__slider-btn,
    &__line {
      position: absolute;
      left: var(--slider-position);
      transform: translateX(-50%);
      background-image: var(--linear-gradient-transparent-primary-15deg);
      background-color: var(--black);
      pointer-events: none;
      transition: background-color 0.5s ease;
    }

    &__line {
      height: 100%;
      width: 3px;
    }

    &--before {
      z-index: 0;
      object-position: left;
      width: var(--slider-position);
    }
  }
</style>
